/* categories css start */
/* html{
    scroll-behavior: smooth;
} */
.head{
    background-color: antiquewhite;
    padding: 10px;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 100px;
}
#a{
    /* height: 12rem; */
    /* background-color: blue; */
    height: 35rem;
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
   
}
.west{
    /* background-color: rgb(47, 47, 110); */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('images/west/west.jpg');
    font-size: 50px;
}
.east{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('images/eastasian/east.jpeg');
    font-size: 50px;
}
.arab{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('images/arab/arab.jpg');
    font-size: 50px;
}
.cont{
    position: relative;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
}
/* .cont2{
    position: relative;
    left: 90%;
} */
 /* categories css end */
 /* cards css start */
 /* .cont{
    padding: 16%;
    position: relative;
    top: 30%;
    background-color: rgb(77, 86, 94);
    height: 20%;
 } */
* {
    margin: 0 auto;
  }
  .crs {
    border-radius: 10px;
    /* border: 1px solid peachpuff; */
    /* position: relative; */
    background-color: beige;
  }
  .pd {
    padding: 2%;
  }
  .zoom:hover{
        /* -ms-transform: scale(1.2); 
        -webkit-transform: scale(1.2); */
         transform: scale(1.1);
         transition: transform 0.25s;
    }
    /* cards css end */