 /* cards css start */
* {
    margin: 0 auto;
  }
  .display{
     display: flex;
     justify-content: space-evenly;
  }
  .pd {
    padding: 2%;
  }
  .panel{
    background-size:cover;
    background-repeat: no-repeat;
    border: 30px solid white !important;
  }
  .threepanel{
    background-image: url("images/t1.webp");
    height: 25rem;
  }
  .fourpanel{
    background-image:url("images/f1.webp");
    height: 30rem;

  }
  .btncss{
    position: relative;
    top: 70%;
    left:20%;
  }
  .zoom:hover{
        /* -ms-transform: scale(1.2); 
        -webkit-transform: scale(1.2); */
         transform: scale(1.1);
         transition: transform 0.25s;
         overflow: hidden;
    }
    /* card css end */
    .bt{
      margin: 10px;
      padding: 30px;
      text-align: center;
      /* text-transform: uppercase; */
      transition: 0.5s;
      background-size: 200% auto;
      color: black;
     /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
      box-shadow: 0 0 20px #eee;
      border-radius: 10px;
      background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);

    }
    .btn:hover {
      background-position: right center; /* change the direction of the change here */
    }
    .top{
      display: flex;
    }
    .left{
      width: 50%;
      text-align-last:end;
    }
    .right{
      width: 50%;
      text-align-last: left ;
    }
    /* arabicfonts css start */
    .afonts{
      background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
    }
    .font1arab{
      background-color: #d1d9e5;
      height: 7rem;
      margin: 2%;
      padding: 2%;
      border-radius: 20px;
    }
    .a1{
      font-family:IBM Plex Sans Arabic;
    }
    .a2{
      font-family:Noto Naskh Arabic;
    }
    .a3{
      font-family: Noto Sans Arabic;
    }
    .a4{
      font-family:Noto Kufi Arabic;
    }
    /* arabicfonts css end */

    /* west font css start */
    .w1{
      font-family: Noto Serif Display;
    }
    .w2{
      font-family: Audiowide;
    }
    .w3{
      font-family: Sofia;
    }
    .w4{
      font-family: Noto Sans Symbols;
    }
    /* west font css end */

    /* east font css start */
    .e1{
      font-family: Noto Sans Simplified Chinese;
    }
    .e2{
      font-family: Noto Sans Traditional Chinese;
    }
    .e3{
      font-family: Noto Serif Traditional Chinese;
    }
    .e4{
      font-family: Noto Serif Simplified Chinese;
    }
    /* east font css end */