 /* cards css start */
* {
    margin: 0 auto;
  }
  .display{
     display: flex;
     justify-content: space-evenly;
  }
  .pd {
    padding: 2%;
  }
  .panel{
    background-size:cover;
    background-repeat: no-repeat;
    border: 30px solid white !important;
  }
  .threepanel{
    background-image: url("images/t1.webp");
    height: 25rem;
  }
  .fourpanel{
    background-image:url("images/f1.webp");
    height: 30rem;

  }
  .btncss{
    position: relative;
    top: 70%;
    left:20%;
  }
  .zoom:hover{
        /* -ms-transform: scale(1.2); 
        -webkit-transform: scale(1.2); */
         transform: scale(1.1);
         transition: transform 0.25s;
         overflow: hidden;
    }
    /* card css end */
    .bt{
      margin: 10px;
      padding: 30px;
      text-align: center;
      /* text-transform: uppercase; */
      transition: 0.5s;
      background-size: 200% auto;
      color: black;
     /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
      box-shadow: 0 0 20px #eee;
      border-radius: 10px;
      background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);

    }
    .btn:hover {
      background-position: right center; /* change the direction of the change here */
    }
    .top{
      display: flex;
    }
    .left{
      width: 50%;
      text-align-last:end;
    }
    .right{
      width: 50%;
      text-align-last: left ;
    }
    /* #arrcard{
      display: none;
    } */